@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; /* <--- ESTO ARREGLA QUE EL MENÚ NO TAPE EL TÍTULO */
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #F8FAFC;
}