@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #F8FAFC;
  overflow-x: hidden; /* <--- ESTA ES LA LÍNEA MÁGICA */
  width: 100%;
}

#root {
  overflow-x: hidden; /* <--- DOBLE SEGURIDAD */
  width: 100%;
}